URxvt.scrollBar: false

URxvt.font: xft:Input :size=10
URxvt.italicFont: xft:Input :italic :size=10
URxvt.boldFont: xft:Input :bold :size=10

rofi.color-enabled: true
! State:  bg fg bgalt hlbg hlfg
rofi.font: Hermit 18
! rofi.color-window: #CC2F343F
! rofi.color-normal: #CC2F343F, #CCC1C1C1, #CC2F343F, #CC394249, #CCFFFFFF
! rofi.color-active: #CC2F343F, #CC80cbc4, #CC2F343F, #CC394249, #CC80cbc4
! rofi.color-urgent: #CC2F343F, #CCFF1844, #CC2F343F, #CC394249, #CCFF1844
